.container-contacto {
    width: 100%;
    background-image: url("../img/contacto.jpg");
    background-size: 100% 100%;
    margin: 0;
    padding: 96px 0;
}

.container-contacto form {
    width: 550px;
    margin: auto;
    background: rgba(164, 228, 15, 0.61);
    padding: 10px 10px;
    margin-top: 10px;
}

.container-contacto form h2 {
    color: #f80c0c;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.container-contacto form input:not([type="checkbox"]) {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px;
}

.container-contacto form input:not([type="submit"])::placeholder {
    color: red;
}

.container-contacto form input:not([type="submit"]):hover {
    color: green;
}

.container-contacto form input:not([type="submit"]):focus-visible {
    color: rgb(62, 11, 245);
}

.container-contacto form input[type="submit"] {
    border-radius: 15px;
    background-color: rgb(136, 4, 4);
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 15px;
    width: 100%;
    margin: 0px auto;
    cursor: pointer;
}

form p {
    float: left;
    width: 49%;
}

form p:not(:nth-child(2n)) {
    margin-right: 2%;
}

form p:last-child {
    clear: both;
    width: 100%;
}

form p:nth-last-child(2) {
    clear: both;
    width: 100%;
}